$base-color: rgb(255, 255, 255);
$font-size: 1.1rem;
$quote-font: 'Lato', sans-serif;
$line-height: 2rem;

@mixin button {
    padding: 0rem .5rem;
    width: 8rem;
    height: 6rem;
    line-height: 1;
    border: solid .1rem transparent;
    border-radius: .25rem;
    font-size: 1.5rem;
    font-family: inherit;
    color: white;
    background-color: black;
    cursor: pointer;
    
}

@mixin flex-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

body {
    @include flex-center;
    background-color: $base-color;
    font-family: $quote-font;
    font-size: $font-size;
    width: 100vw;
    height: 100vh;
    
}

main {
    display: flex;
    flex-flow: column nowrap;
    margin: auto; 
    height: 100%;
    width: 100%;
}

.quote-box {
    flex: 4 1 60%;
    margin: auto .75rem;
    }

.quote-item {
    
    line-height: $line-height;
    text-align: center;
    margin: auto auto;
    
    
}

.quote-box-footer{
    display: flex;
    flex-flow: row wrap; 
    flex: .5 1 0;
    justify-content: flex-start;
    align-items: flex-end;
    margin: auto 0;
    margin-top: 1rem;

}

#social-box {
    font-size: 1.35rem;
    flex: 0 1 30%;
    visibility: hidden;
    
}

.social-media-box > a{
    color: black;
}

#tweet-quote{
margin-right: .5rem;
}

.author{
    flex: 1 1 70%;
    text-align:  right;
    font: 1rem;

  
}


.nav-box{
    display: flex;
    flex: 1 4 40%;
    justify-content: space-around;
    margin-top: 1rem;
    align-items: start; 
     
    
}

.button-item {
    @include button;
    flex: 0 1 8rem;
     
}


.button-item:active{
    background-color: white;
    color: black;
}



/*Laptop and Desktop Screens*/

@media only screen and (min-device-width: 768px) {


    main{
      justify-content:  flex-start; 
      align-items: center;
      font-size: 1.25rem;
      
    }
    .quote-box {
        margin-top: 5rem;
        width: 60%;
        flex: 4 1 20%;
        
    }

    .nav-box{
        width: 60%;
    }

    .quote-box-footer{
        margin-top: 2rem;
    }
}

